<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            Anand
        </dd>
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            Arturo
        </dd>
        <dt class="col-sm-2">
            Enrollment Date
        </dt>
        <dd class="col-sm-10">
            2003-09-01
        </dd>
    </dl>
</div>
<div>
    <a href="/Students/Edit/3">Edit</a> |
    <a href="/Students">Back to List</a>
</div>
