<h1>Edit</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Full Name
        </dt>
        <dd class="col-sm-10">
            Barzdukas, Gytis
        </dd>
    </dl>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td>
                    Alpha
                </td>
                <td>
                    <a href="/Students/RemoveMemberships?studentId=4&amp;communityId=A1">Unregister</a>
                </td>
            </tr>
            <tr>
                <td>
                    Beta
                </td>
                <td>
                    <a href="/Students/RemoveMemberships?studentId=4&amp;communityId=B1">Unregister</a>
                </td>
            </tr>
            <tr>
                <td>
                    Omega
                </td>
                <td>
                    <a href="/Students/RemoveMemberships?studentId=4&amp;communityId=O1">Unregister</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div>
    <a href="/Students">Back to List</a>
</div>
