<h1>Details</h1>

<div>
    <h4>Community</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            Beta
        </dd>
        <dt class="col-sm-2">
            Budget
        </dt>
        <dd class="col-sm-10">
            $130.00
        </dd>
    </dl>
</div>
<div>
    <a href="/Communities/Edit/B1">Edit</a> |
    <a href="/Communities">Back to List</a>
</div>