<h1>Index</h1>

<p>
    <a href="/Communities/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Budget
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td>
                Alpha
            </td>
            <td>
                $300.00
            </td>
            <td>
                <a href="/Communities/Index/A1">Select</a> |
                <a href="/Advertisements/Index/A1">Ads</a> |
                <a href="/Communities/Edit/A1">Edit</a> |
                <a href="/Communities/Details/A1">Details</a> |
                <a href="/Communities/Delete/A1">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Beta
            </td>
            <td>
                $130.00
            </td>
            <td>
                <a href="/Communities/Index/B1">Select</a> |
                <a href="/Advertisements/Index/B1">Ads</a> |
                <a href="/Communities/Edit/B1">Edit</a> |
                <a href="/Communities/Details/B1">Details</a> |
                <a href="/Communities/Delete/B1">Delete</a>
            </td>
        </tr>
        <tr class="">
            <td>
                Omega
            </td>
            <td>
                $390.00
            </td>
            <td>
                <a href="/Communities/Index/O1">Select</a> |
                <a href="/Advertisements/Index/O1">Ads</a> |
                <a href="/Communities/Edit/O1">Edit</a> |
                <a href="/Communities/Details/O1">Details</a> |
                <a href="/Communities/Delete/O1">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<h3>
    Members of the community
</h3>
<table class="table">
    <tr>
        <th> Name </th>
    </tr>
    <tr>
        <td>
            Alonso, Meredith
        </td>
    </tr>
    <tr>
        <td>
            Anand, Arturo
        </td>
    </tr>
    <tr>
        <td>
            Barzdukas, Gytis
        </td>
    </tr>
</table>