<h1>Show ads for community Beta</h1>

<p>
    <a href="/Advertisements/Create/B1">Upload New</a>
</p>

<div>
    <a href="/Communities">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                File Name
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                blazor-webassembly.png
            </td>
            <td>
                <img src="https://afrasialab5.blob.core.windows.net/smilies/blazor-webassembly.png"
                    style="max-width: 400px;" />
            </td>
            <td>
                <a href="/Advertisements/Delete/3">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
